.shape-mascote {
  width: 35vw;
  height: 35vw;
  margin-left: 2.5rem;
  margin-top: 5rem;
}

.shape-mascote img {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@media (max-width: 768px) {
  .shape-mascote {
    float: none;
    display: flex;
    margin: 2rem auto;
    clip-path: none;
    shape-outside: none;
    margin-left: 0;
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}