/* 🟨 Navbar */
.nav-link:hover {
  color: #facc15;
}

.nav-underline {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #facc15;
  transition: width 0.3s ease-in-out;
}

.group:hover .nav-underline {
  width: 100%;
}

@keyframes glowPulse {
  0%,100% { text-shadow: 0 0 4px #facc15, 0 0 10px #facc15; }
  50% { text-shadow: 0 0 12px #facc15, 0 0 20px #facc15; }
}

.animate-glow {
  animation: pulseZoom 3s ease-in-out infinite;
}

@keyframes pulseZoom {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}